body{
    font-family: 'Trebuchet MS';
}
.site-heading-lower{
    font-family: 'Trebuchet MS';
}
.mb-3
{
    font-family: 'Trebuchet MS';
}
a{
    font-family: 'Trebuchet MS';
}
#mainNav{
    background-color: rgb(222, 0, 0);
}